{% extends 'base.html.twig' %}

{% block title %}Réinitialisation par SMS{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Réinitialisation par SMS</div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-primary mt-3">Envoyer le code</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}