{% extends 'base_internal.html.twig' %}

{% block title %}Tableau de Bord Administrateur{% endblock %}

{% block body %}
<div class="content-container mt-100">
    <div class="rv-card p-4 shadow-sm rounded">
        <!-- Welcome Section -->
        <div class="text-center mb-4">
            
            <p class="text-muted">Gérez les utilisateurs, les rôles et les statistiques depuis ce tableau de bord.</p>
        </div>

        

        
    </div>
</div>
{% endblock %}